
/*=======================================
       Basic Properties start


       body
{

	height: 2000px;
}
==========================================*/


*
{
	margin: 0px;
	padding: 0px;
}


#myhead
{
	font-family: 'Lobster', cursive;
}
/*=======================================
       Basic Properties start
==========================================*/


/*=======================================
       Slider Properties start
==========================================*/

.slider
{
	width: 100%;
	margin-top: 0;
	position: absolute;
	height: 100vh;
	background-image: url(..//img/login-background.jpg);
	background-size: cover;
	background-position: center;	
}

.slider-overlay
{
	width: 100%;
	height: 100%;
	background : rgba(0,0,0,0.6);
}
.slider-content
{
	position: absolute;
	top:30%;
	width: 100%;
	color:white;
}
header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6px;
	margin-top:-34px;
	text-align: center;
    font-size: 1200px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    font-family: "Playfair Display", serif;
    font-weight:1000;
	text-shadow: 1px 1px 2px rgb(20, 213, 207);
}
.icons .fa
{
	font-size: 40px;
	margin-right: 7px;
}

.cta-div
{
	margin-top: 30px;
}


.slider .text,.slider .typed-cursor
{
	display: inline;
	font-size: 45px;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}

.primary
{
	color: orangered;
	
}


/*=======================================
       Login Page Properties start
==========================================*/
#login-heading
{
	padding-left: 330px !important;
	text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}


.modal-content
{
 position: relative !important;
 margin:5% auto    !important;
 height: 400px !important;
 background: #fff !important;
 box-shadow: 0 2px 4px rgba(0,0,0,0.6);
 margin-top:30px !important;
 border-style: 	groove;
}
.register h2
{
	margin-left: -20px;
	width: 250px;
	font-size: 16px;
	padding-bottom: 20px;
	margin-top: -20px;
}

.modal-dialog
{
	padding-top: 100px !important;
	 width:750px !important;
}
label
{
	margin-left: -240px;
margin-top: 5px;
	position: absolute;
	width: 160px;
}
.right-box
{
	position: absolute !important;
	top: 0.13em !important;
	left:0 !important;
	box-sizing: border-box !important;
	padding: 40px !important;
	width: 309px !important;
	height: 398px !important;
	background-image: url(..//img/login.jpg);
	margin-top: -58px !important;
	background-size: cover !important;
	border-radius: 5px;
}


input[type="text"]
{
	margin-bottom: 20px !important;
	padding: 4px !important;
	width: 220px !important;
	height: 32px !important;
	border: none !important;
	outline: none !important;
	border-bottom: 1px solid #aaa !important;
	font-weight: 400px !important;
	font-size: 15px !important;
	transition: 0.5s ease-in !important;
	margin-left: 70px;
}
.form-group
{
	margin-top: 50px;
}

#btn-login
{
	position: absolute !important;
	width:150px !important;
	height: 32px !important;
	border: none !important;
	border-radius: 2px !important;
	color: #fff !important;
	font-weight:500px !important;
	text-transform: uppercase !important;
	transition: 0.5 ease-in !important;
	cursor: pointer !important;
	margin-top:18px !important;
	background-color: rgb(0, 213, 255) !important;
	margin-left:-100px;
	border-bottom-left-radius: 10px !important;



}
#errorlabel
{
	position: absolute;
	margin-top: -5px;
}


#sign
{
	text-decoration: none !important;
	color: white !important;
}

.register h2
{
	width: 250px;
	padding-top: 80px;
	font-size: 16px;
}
#create-account a
{
	text-decoration: none;
	color: black;
	
}


.left-box
{
	position: absolute !important;
	margin-top:-71.5px !important;
	right: 0 !important;
	box-sizing: border-box !important;
	padding: 40px !important;
	width: 350px !important;
	height: 400px !important;
	background-size: cover !important;
	border-radius: 5px;

}

.right-box .signinwith
{
	display: block;
	margin-bottom: 40px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}



/*=======================================
       Our Services Properties End
==========================================*/




